<h2>Quote Appearance Options</h2>

<hr />
<div class="row-fluid">
	<div class="span12">
		<div class="hero-unit" style="text-align:center; vertical-align:text-middle;">
			<span>You have <strong><%= @quotecount %></strong> quotes saved.</span>
			<br />
			<% if @quotecount != 0 %>
			<span>Here is a random quote to encourage you: <strong>"<%= @quote.content %>", - <%= @quote.author %></strong></span>
			<% end %>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12 hero-unit" style="text-align:center; vertical-align:text-middle;">
		<%= link_to 'Return', motivation_index_path %>
	</div>
</div>