<h2>Add a new motivational quote.</h2>

<hr />

<%= render 'form' %>

<div class="row-fluid">
	<div class="span12 hero-unit" style="text-align:center; vertical-align:text-middle;">
		<%= link_to 'Cancel', motivation_index_path %>
	</div>
</div>
