<!--<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>-->
<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p><%= link_to "Survey Results".html_safe, survey_path(current_user) %></p>

