<h2>Options!</h2>

<hr />
<div class="row-fluid">
	<div class="span12 hero-unit" style="text-align:center; vertical-align:text-middle;">
		<%= link_to('Account options', edit_user_registration_path) %>
	</div>
</div>