<h3> Workouts this Month</h3>
<hr>
<% @exercises.each do |exercise|  %>
    <div class="span10 hero-unit">
      <div class="span6" style="float:left">
        <span class="title"> Workout: <%=  exercises.name %> </span>
      </div>
      <div class="span3" style="float:right">
        <span class="title"> Type: <%= exercises.type %></span>
      </div>
      <div class="span9">
        <span class="rating"> Duration(min:): <%= exercises.duration %> </span>
      </div>

    </div>

<% end %>